Repository sjefsharp/crypto_trading_manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety-scan, secret-scan

safety-scan:
  name: Safety dependency scan
  entry: bash -c 'cd backend && safety scan --output screen --stage development'
  language: system
  pass_filenames: false

secret-scan:
  name: Check for secrets
  ...

fix: update CodeQL workflow for enhanced security analysis and dependency management
  .github/workflows/codeql.yml
Due: none

fix: update Node.js and Python setup actions to latest versions in CI/CD workflows
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
Due: none

fix: enhance frontend testing with coverage reporting and upload results
  .github/workflows/ci-cd.yml
  frontend/vitest.config.ts
Due: secret-scan

fix: update Python package installation and dependencies for improved compatibility and security
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-scan

chore: update CI/CD workflow and dependencies
  .github/workflows/ci-cd.yml
  backend/pyproject.toml
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: safety-scan, secret-scan

fix: enhance security checks in scripts and update dependency management
  frontend/package.json
  security-check.sh
Due: secret-scan

Fix Python 3.13 compatibility: pydantic 2.5.1 → 2.9.2
  backend/pyproject.toml
  backend/requirements.txt
Due: safety-scan

Refactor: Reduce cyclomatic complexity for flake8 compliance
  backend/app/services/bitvavo_api_secure.py
  backend/demo_dry_run.py
Due: secret-scan

feat: Implement enterprise Bitvavo API service with comprehensive type safety
  backend/app/config/secure_config.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/services/bitvavo_enterprise_service.py
  backend/app/services/encryption_service.py
  backend/app/services/market_service.py
  backend/app/services/portfolio_service.py
  backend/app/services/trading_mode.py
  backend/app/services/trading_service.py
  backend/demo_dry_run.py
  backend/stubs/python_bitvavo_api/__init__.pyi
  backend/stubs/python_bitvavo_api/bitvavo.pyi
  backend/tests/test_bitvavo_enterprise_service.py
  codecov.yml
  scripts/fix_typing_bulk.py
  scripts/type-check-all.sh
  scripts/type-check.sh
Due: secret-scan

fix: Resolve all MyPy type errors and restore trading API
  backend/app/api/api_keys.py
  backend/app/api/market_data.py
  backend/app/api/portfolio.py
  backend/app/api/trading.py
  backend/app/services/bitvavo_api_secure.py
  backend/app/services/db_api_key_service.py
  backend/app/services/market_service.py
  backend/app/services/trading_mode.py
Due: secret-scan

refactor: Consolidate bandit configuration to pyproject.toml
  backend/.bandit
  backend/pyproject.toml
Due: safety-scan

security: Enforce maximum security by removing all bandit skips
  backend/pyproject.toml
Due: safety-scan

config: Fix critical inconsistencies in pyproject.toml
  backend/pyproject.toml
Due: safety-scan

config: Remove ALL compromises - truly strict configuration
  backend/pyproject.toml
Due: safety-scan

fix: Major MyPy type safety improvements - bulk resolution
  backend/app/api/trading.py
  backend/app/core/database.py
  backend/app/main.py
  backend/app/models/database_models.py
  backend/app/services/bitvavo_enterprise_service.py
  backend/app/services/trading_mode.py
Due: secret-scan

Fix: Major MyPy type safety improvements (formatted)
  backend/app/api/api_keys.py
  backend/app/api/market_data.py
  backend/app/api/portfolio.py
  backend/app/api/trading_mode.py
  backend/app/config/secure_config.py
  backend/app/database/__init__.py
  backend/app/models/database_models.py
  backend/app/services/bitvavo_api_secure.py
  backend/app/services/market_service.py
  backend/app/services/trading_mode.py
Due: secret-scan

feat: Add comprehensive project documentation and setup instructions for LLM Agent
  PRD.md
Due: none

feat: Initial project setup with enterprise architecture
  .env.example
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  poetry.lock
  pyproject.toml
  src/__init__.py
  src/trading_manager/__init__.py
  src/trading_manager/api/__init__.py
  src/trading_manager/core/__init__.py
  src/trading_manager/exchanges/__init__.py
  src/trading_manager/exchanges/bitvavo/__init__.py
  src/trading_manager/exchanges/simulation/__init__.py
  src/trading_manager/models/__init__.py
  src/trading_manager/schemas/__init__.py
  src/trading_manager/services/__init__.py
  src/trading_manager/services/simulation/__init__.py
  src/trading_manager/tasks/__init__.py
  src/trading_manager/utils/__init__.py
  src/trading_manager/websocket/__init__.py
  tests/__init__.py
  tests/e2e/__init__.py
  tests/fixtures/__init__.py
  tests/integration/__init__.py
  tests/unit/__init__.py
Due: none

Path conditions:
  safety-scan: any of: ^backend/(requirements\.txt|pyproject\.toml)$
  secret-scan: any of: ^(backend|frontend)/.*\.(py|js|ts|json|yaml|yml)$, but not: (node_modules|\.git|__pycache__|\.pytest_cache|venv|\.venv|tests)/
